extends layout

block append head
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
  link(rel="stylesheet", href="/css/c3.min.css")
  link(rel="stylesheet", href="/css/index.css")

block content
  figure.chart
    figcaption.chart__caption= "Temperature"
    #js-temp-chart.chart__body

  figure.chart
    figcaption.chart__caption= "Humidity"
    #js-humid-chart.chart__body

  script(src="/js/d3.min.js")
  script(src="/js/c3.min.js")
  script(src="/js/index.js")
